{{#each this}}
  <div class='photo-card'>
    <a class='img-big' href='{{largeImageURL}}'>
      <img
        src='{{webformatURL}}'
        alt='{{tags}}'
        loading='lazy'
        width='400'
        height='250'
      /></a>
    <div class='info'>
      <p class='info-item'>
        <b>Likes <span class='info-value'>{{likes}}</span></b>
      </p>
      <p class='info-item'>
        <b>Views <span class='info-value'>{{views}}</span></b>
      </p>
      <p class='info-item'>
        <b>Comments <span class='info-value'>{{comments}}</span> </b>
      </p>
      <p class='info-item'>
        <b>Downloads <span class='info-value'>{{downloads}}</span></b>
      </p>
    </div>
  </div>
{{/each}}